src/
tests/
*.test.ts
*.spec.ts

.git/
.github/
.vscode/
.changeset/
node_modules/

tsconfig.json
tsup.config.ts
vitest.config.ts
eslint.config.js
biome.json
.gitignore
.env
*.tgz
lefthook.yml
assets/
pnpm-workspace.yaml